* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: var(--primary-color);
}
html {
  font-size: 62.5%;
}

:root {
  --primary-color: #424242;
  --text-color: #1e201e;
  --btn-color: #e4003a;
  --secondary-text-color: #fffbe6;
  --secondary-color: #ff8343;
  --background-color: #52e9ee;
}
.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: var(--secondary-text-color);
  margin: 2rem;
}
